@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    src: url(assets/fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf) format('truetype');
}

body {
    font-size: 100%;
  }

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: small;
}

ul {
    list-style-type: circle;
    font-family: 'IBM Plex Sans', sans-serif;
}